.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #d6d6cd;
    width: 18px;
    height: 19px;
    cursor: pointer;
    position: relative;
}
.checkbox::before {
    content: "🗸";
    color: lightseagreen;
    font-size: 18px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
    transition: .1s ease-in;
}
.checkbox:checked::before {
    opacity: 1;
}