body {
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(19, 19, 19), rgb(39, 39, 39), rgb(58, 58, 58), rgb(78, 78, 78), rgb(97, 97, 97), rgb(123, 81, 81), rgb(150, 65, 65), rgb(176, 49, 49), rgb(202, 32, 32), rgb(229, 16, 16), rgb(255, 0, 0)) fixed;
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'message secondHomework thirdHomework comp'
}

.messageContainer {
    grid-area: message;
    padding: 0 10px 0 20px;
}

.secondHomework {
    grid-area: secondHomework;
}
.customComponent {
    grid-area: comp;
}
.thirdHomework {
    grid-area: thirdHomework;
}

.message {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 'n n' 'text time';
    grid-gap: 1px;
    width: 300px;
    margin: 50px auto;
    border-radius: 15px;
    background: #001e23;
    color: #fff;
    padding: 20px 20px 0 20px;
    text-align: center;
    font-weight: 900;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    position: relative;
}

.message:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #001e23;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #001e23;
    left: -16px;
    bottom: 0;
}

.friendName {
    grid-area: n;
    text-align: left;
    font-size: 18px;
    color: #6b13ff;
}

.textMessage {
    grid-area: text;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
}

.timeMessage {
    grid-area: time;
    text-align: right;
    font-size: 10px;
    color: #747272;
}
