body {
    background: rgb(255,59,0);
    background: linear-gradient(140deg, rgba(255,59,0,1) 0%, rgba(0,0,0,1) 80%) fixed;
}

/*.App {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr 1fr;*/
/*    grid-template-areas: 'message secondHomework thirdHomework comp'*/
/*}*/

.messageContainer {
    display: grid;
    grid-area: message;
    padding: 20px 10px 0 80px;
    grid-row-gap: 30px;
}

.secondHomework {
    grid-area: secondHomework;
}
/*.customComponent {*/
/*    grid-area: comp;*/
/*}*/
.thirdHomework {
    grid-area: thirdHomework;
}

.message {
    display: grid;
    grid-area: mesCont;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 'n n' 'text time';
    grid-gap: 1px;
    width: 300px;
    /*margin: 50px auto;*/
    border-radius: 15px;
    background: #001e23;
    color: #fff;
    padding: 20px 20px 0 20px;
    text-align: center;
    font-weight: 900;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    position: relative;
}

.message:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #001e23;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #001e23;
    left: -16px;
    bottom: 0;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    grid-area: ava;
    bottom: 0;
    position: absolute;
    left: -70px;
    background-size: 50px;
}

.container {
    /*display: grid;*/
    /*grid-template-columns: 30px 1fr;*/
    /*grid-template-areas: 'ava mesCount';*/
    position: relative;
}

.friendName {
    grid-area: n;
    text-align: left;
    font-size: 18px;
    color: #6b13ff;
}

.textMessage {
    grid-area: text;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
}

.timeMessage {
    grid-area: time;
    text-align: right;
    font-size: 10px;
    color: #747272;
}
